body {
    font-family: "Lato", sans-serif;
  }
  ul{
      list-style: none;
      
  }
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #88D8B0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .changebody{
      padding: 30px;
      width: 75%;
      float: right;
  }
  .sidenav a {
    padding: 15px 10px 15px 32px;
    /*text-decoration: none;*/
    font-size: 22px;
    color:black;
    display: block;
    transition: 0.3s;
  }
  .hoverside a:hover{
      background-color: black;
      color: #fff;
  }
  .hoverside a{
      display: flex;
  }
  .hoverside a .controller{
      margin-left: 8px;
      padding-left: 8px;
  }
  .hoverside a div{
      align-items: center;
  }
.hoverside .admin-image{
    margin-bottom: 5px;
}
.hoverside .admin-image img {
    width: 100%;
    height: fit-content;
}
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }